*{
  margin: 0;
  padding: 0;
}

.hamburger-menu{
  width: 34px;
  height: 34px;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 25% 0 0 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 10px;
}

.line{
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: 50px;
  transition: all .8s;
  
}

.change .line1{
  transform: rotateZ(-45deg) translate(-8px, 8px) ;
}
.change .line2{
  opacity: 0;
}
.change .line3{
  transform: rotateZ(45deg) translate(-8px, -8px);
}

.navbar{
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: -2000px;
  right: 0;
  transition: all 0.8s;
}

.change{
  top: 0;
  transition: all 0.8s;
}

.nav-list{
  position: fixed;
}

.nav-items{
  margin-top: 94px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  
  
    a{
      font-size: 20px;
      line-height: 32px;
      cursor: pointer;
      text-decoration: none;
      color: white;
    }

    &:hover{
      color: red;
    }
}


.nav-link{
  text-transform: uppercase;
  font-weight: 300;
  font-size: 22px;
  position: relative;
 
}

.nav-link::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: #F36F21;
  position: absolute;
  left: 0;
  transform:scaleX(0) ;
  transition: transform 0.6s;
}

.nav-link::after{
  bottom: 0;
}

.nav-link:hover::after{
  transform: scaleX(1);
}

  